NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCWSsWvPe_8--NghExHWp578JH3HdZBSCQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=rajesh-recharge.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=rajesh-recharge
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=rajesh-recharge.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=862485868978
NEXT_PUBLIC_FIREBASE_APP_ID=1:862485868978:web:d8f65ddc70b6f182b2f4ab
